<!-- Sidebars -->
<div ng-include="'components/main/sidebar.html'" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"></div>

<div class="app">

  <!-- Navbars -->

  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
      Simple AngularJS App
    </div>
    <div class="btn-group pull-left">
      <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
        <i class="fa fa-bars"></i> Menu
      </div>
    </div>
  </div>

  <!-- App Body -->
  <div class="app-body">
    <div class="app-content">
      <p>This is the payments page.</p>
    </div>
  </div>

</div>

<div ui-yield-to="modals"></div>